<h4 class="mt-4 border-bottom">
レビュアー用ページ
</h4>
<h5>こんにちは、<%= @reviewer.name %>さん<br></h5>

<p></p>
<h6 class="mt-6 border-bottom">
投稿済みレビュー一覧
</h6>
<table class="table table-sm table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">大会名</th>
      <th scope="col">点数</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.race.name %></td>
        <td><%= review.score %></td>
        <td><%= link_to '内容詳細', review, class:'btn btn-outline-info btn-sm' %></td>
        <td><%= link_to '編集', edit_review_path(review), class:'btn btn-outline-primary btn-sm' %></td>
        <td><%= link_to '削除', review, method: :delete, data: { confirm: '削除してよろしいですか?' }, class:'btn btn-outline-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
